<!DOCTYPE html>
<html>
<head>
    <title>Text Modifier</title>
    <style>
        .highlight {
            background-color: yellow;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Text Modifier</h1>
    <form method="POST">
        <textarea name="text" rows="5" cols="50" placeholder="Enter the text"></textarea><br>
        <input type="radio" name="option" value="RM" checked> Remove Single Word:
        <input type="text" name="single_word" placeholder="Enter a word"><br>
        <input type="radio" name="option" value="F"> Find Two Words:
        <input type="text" name="word1" placeholder="Enter the first word">
        <input type="text" name="word2" placeholder="Enter the second word"><br>
        <input type="submit" value="Submit">
    </form>
    {% if text %}
    <h2>Original Text:</h2>
    <div>{{ text|safe }}</div>
    {% endif %}
    {% if modified_text %}
    <h2>Modified Text:</h2>
    <div>{{ modified_text|safe }}</div>
    {% endif %}
</body>
</html>
